body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
nav {
  height: 80px;
  width: 100%;
  background-color: #fff;
  position: relative;
  display: flex;
  margin-top: -10px;
}
.icon {
  color: green;
}

.icon p {
  font-weight: bold;
  color: #040404;
  display: initial;
  font-size: 19px;
}
nav p {
  position: relative;
  top: 20px;
  font-family: sans-serif;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 17px 20px;
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 9px;
  font-size: 13px;
}
ul li {
  padding: 10px 10px;
}

div.reg {
  display: block;
  position: absolute;
  right: 0;
  padding-right: 55px;
  top: 6px;
  top: 30px;
}
.icon span {
  height: 40px;
  border-radius: 100%;
  width: 40px;
  background-color: green;
  display: inline-block;
  margin-left: 50px;
  top: 10px;
  margin-top: 10px;
  position: relative;
}
.active span {
  background-color: #de6449;
  height: 5px;
  width: 40px;
  display: block;
  margin-top: 23px;
  position: relative;
}
nav button {
  padding: 4px 24px;
  margin-top: -4px;
  border: 0;
  font-size: 12px;
  position: relative;
  height: 40px;
}

button.active {
  background-color: #fa7533;
  border-radius: 5px;
  color: white;
}

div.travel {
  margin-left: 120px;
  margin-top: 70px;
  position: relative;
  width: 475px;
  height: 550px
}
.form-group {
  padding: 5px;
  position: relative;
  display: grid;
  background: transparent;
  /* border: solid; */
  width: 400px;
  background-color: white;
  border-radius: 4px;
  height: 37px;
  align-content: end;
  /* margin-bottom: 10px; */
  margin: 20px;
}
.label1 {
  font-size: 13px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.5);
}
.loc1{
  width: 176px;
    margin-top: -5px;
}
.p.new {
  font-size: 12px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}

.label-img {
  position: relative;
  margin-left: 8px;
  margin-top: -1px;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
  object-fit: cover;
}
.form-group input {
  margin-left: 7px;
  border: 0;
  font-size: 12px;
  font-weight: bold;
  margin-top: 4px;
  
}
.icon-img5 {
  position: relative;
    margin-left: auto;
    margin-top: -15px;
}

.holder {
  height: 165px;
  flex-flow: row wrap;
  display: flex;
  position: relative;
  /* margin-bottom: 5px; */
  margin-left: -24px;
}

booking h1 {
  font-size: 55px;
  font-family: sans-serif;
}
.hold1 {
  height: 30px;
  width: 500px;
}
.travel button {
  height: 47px;
  width: 402px;
  position: relative;
  display: flow-root;
  margin-top: 15px;
  background-color: #fa7533;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bolder;
  font-family: sans-serif;
}
.hold {
  padding: 8px;
}
.hold3 {
  margin-left: 15px;
}
.travelpic {
  position: relative;
  background-image: url(./assets/css/images/sample.jpg);
  height: 426px;
  width: 640px;
  border-bottom-left-radius: 30px;
  margin-top: -584px;
  right: 0;
  left: 638px;
}
.firstp {
  height: 550px;
  background-color: #f6f8fc;
  width: 800px;
  /* box-shadow: 2px 2px rgba(0, 0, 0, 0.2); */
  border-bottom-right-radius: 30px;
  /* margin-bottom: 50px; */
  position: relative;
  margin-top: 0px;
  margin-bottom: 36px;
  display: flow-root;
}
.fonte {
  display: flow-root;
  position: relative;
  flex-direction: row;
  /* border: solid; */
  width: 570px;
  margin-left: 71px;
  height: 70px;
  margin-top: 46px;
}

fontz ul {
  list-style: none;
  display: flex;
  /* padding: 17px 20px;
  position: relative; */
  /* margin-top: 94px; */
  /* margin-left: 120px; */
}

fontz #l1 {
  font-weight: 500;
  color: #94a2bd;
  font-size: 22px;
  font-family: sans-serif;
}
fontz #l2 {
  font-weight: 500;
  color: #94a2bd;
  font-size: 44px;
  font-family: sans-serif;
  margin-top: -18px;
  margin-left: 4px;
}
fontz #l3 {
  font-weight: 500;
  color: #94a2bd;
  font-size: 44px;
  font-family: sans-serif;
  margin-top: -18px;
  margin-left: 4px;
}

fontz li p {
  font-size: 10px;
  position: initial;
  margin-left: 100px;
  font-family: sans-serif;
  margin-top: -5px;
}
fontz img {
  height: 280px;
  width: 240px;
  position: absolute;
  right: 60px;
  /* top: 96px; */
  margin-top: -80px;
  border-bottom-right-radius: 30px;
  object-fit: cover;
}
.top-des1 {
  margin-left: 120px;
}

top-des h2 {
  font-size: 35px;
  font-family: sans-serif;
}
top-des button {
  height: 50px;
  width: 120px;
  margin-top: 45px;
  background-color: purple;
  border-radius: 13px;
}
top-des p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
}

.top-des-butt {
  margin-top: -62px;
  position: absolute;
  right: 55px;
  margin-top: -141px;
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
top-des img {
  height: 290px;
  width: 240px;
  /* position: absolute; */
  right: 60px;
  /* margin-top: -230px; */
  border-radius: 10px;
  object-fit: cover;
}
top-des p.small {
  margin-top: -15px;
  font-size: 11px;
}
#top-des-img {
  display: flex;
  overflow: hidden;
  object-fit: cover;
}

.handp {
  margin-left: 120px;
  margin-top: 100px;
}
handp img {
  height: 110px;
  width: 218px;
  border-radius: 10px;
  object-fit: cover;
}
.handp-img {
  display: flex;
  /* border: solid 1px yellow; */
  padding: 8px 0px;
  margin-left: 120px;
  width: 290px;
  background-color: #fff;
  padding-bottom: 70px;
  margin-top: 25px;
  border-radius: 10px;
  padding-right: 21px;
  object-fit: cover;
}
.text-contain {
  display: flex;
}
.firstp-2 {
  background-color: #f6f8fc;
  /* box-shadow: 2px 2px rgba(0, 0, 0, 0.2); */
  border-bottom-right-radius: 30px;
  width: 1075px;
}
handp button {
  position: absolute;
  height: 40px;
  width: 185px;
  right: 130px;
  background: rgba(247, 217, 204, 0.5);
  margin-top: 130px;
  border-radius: 7px;
  /* background: rgba(30, 52, 142, 0.5); */
  border: 0;
}
.repo {
  position: absolute;
  font-size: 12px;
  margin-top: 107px;
  margin-left: 8px;
}
handp p {
  margin-top: -15px;
  font-size: 12px;
  margin-left: 5px;
}
handp h2 {
  font-size: 40px;
  font-family: sans-serif;
  margin-left: 5px;
}
h3 {
  font-size: 14px;
  font-family: sans-serif;
  margin-left: 5px;
}
h4 {
  font-family: sans-serif;
}
.handp-img-p {
  color: #060606;
  position: relative;
  font-weight: 800;
  font-size: 9px;
  right: 90px;
  text-align: center;
  /* height: 11px; */
  background-color: #f1f7f7;
  bottom: 20px;
  border-radius: 2px;
  width: 60px;
  padding-top: 1px;
  padding-bottom: 1px;
  object-fit: cover;
}
.handp-img-p2 {
  position: absolute;
  font-size: 11px;
  display: contents;
  color: rgba(0, 0, 0, 0.5);
}
.amt {
  position: absolute;
  left: 227px;
  bottom: 11px;
  display: flex;
}
handp ul {
  list-style: none;
  position: relative;
  display: flex;
  font-size: 8px;
  right: 36px;
}
.icon-img {
  height: 12px;
  width: 14px;
  object-fit: cover;
}
.icon-array {
  position: relative;
  right: 296px;
  top: 140px;
}
span.ls-icon {
  left: 13px;
  position: relative;
}
#handp-img {
  position: relative;
  display: flex;
  object-fit: cover;
}
.icon-img-po {
  position: relative;
  left: 9px;
  top: 10px;
  height: 18px;
  width: 21px;
  object-fit: cover;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 15px;
  height: 560px;
}
.flex-item {
  padding: 5px;
  width: 200px;
  height: 150px;
  object-fit: cover;
}
.icon-2 {
  height: 40px;
  border-radius: 100%;
  width: 40px;
  background-color: green;
  display: inline-block;
  margin-left: 0px;
  top: 26px;
  margin-top: 10px;
  position: relative;
}
article {
  width: 550px;
  margin-left: 190px;
}
.p3 {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 5px;
  position: relative;
  font-weight: 600;
  bottom: 27px;
  margin-top: 38px;
}
h5 {
    font-size: 18px;
    margin-top: 52px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 550;
    font-family: sans-serif;
}
.wrap-item {
  width: 227px;
  position: relative;
  border: -19px;
  bottom: 50px;
}
.wrap-art {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.flex-item2 {
  height: 300px;
  width: 355px;
  border-bottom-right-radius: 70px;
  margin-left: 0;
  object-fit: cover;
}
.p4 {
  font-size: 14px;
  font-family: sans-serif;
  position: relative;
  bottom: 31px;
}
.flex-item3 {
  position: relative;
  height: 200px;
  width: 350px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left: 104px;
  bottom: 175px;
  margin-top: -95px;
  object-fit: cover;
}
.flex-container2 {
  display: flex;
  flex-flow: row wrap;
  margin-top: 35px;
  justify-content: space-evenly;
}
.flex-item4 {
  padding: 5px;
  width: 300px;
  height: 350px;
  border-radius: 50px 0;
  object-fit: cover;
}
.po-disp {
  display: flex;
  height: 400px;
  justify-content: space-around;
  margin-top: 160px;
}
.icon-img3 {
  height: 30px;
  width: 25px;
  object-fit: cover;
}

po-down h3 {
  font-size: 37px;
    color: rgba(0, 0, 0, 0.8);
}
p {
  font-size: 15px;
  font-family: sans-serif;
}

po-down button {
  display: flex;
  width: 160px;
  height: 55px;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-weight: 500;
  margin: 6px;
}

.p-edit {
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  margin-left: 6px;
}

.icon-img6 {
  margin-top: 15px;
  height: 29px;
  width: 30px;
  object-fit: cover;
}
.pn1 {
  font-size: 11px;
    margin-left: 14px;
    position: absolute;
    margin-top: 7px;
    opacity: 0.6;
}
.pn2 {
  position: relative;
  font-size: 19px;
}
.flex-itemN {
  border-top-left-radius: 45px;
    height: 296px;
    position: absolute;
    width: 464px;
    right: 0px;
    border-bottom-right-radius: 45px;
    object-fit: cover;
    margin-right: 8em;
}
.po-disp1 {
  margin-left: -90px;
    width: 500px
}
.apple-logo {
  height: 40px;
  margin-top: 7px;
  width: 50px;
  margin-right: 8px;
  position: relative;
}
.foot-container {
  display: flex;
  margin-left: 9em;
  height: 63px;
  margin-top: 22px;
}
hr {
  margin-left: 9em;
    margin-right: 9em;
}

footer p {
  font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.p-end {
  /* border: solid; */
  display: flex;
  /* flex-direction: row; */
  position: absolute;
  width: 340px;
  right: 8em;
  justify-content: space-around;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .full-screen-main {
-ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    -webkit-overflow-scrolling: touch;
    padding: 20px 0;
}

@media only screen and (min-width: 960px) {
  .full-screen-main {
    padding: 20px 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
} */
